# Verify if runner is already registered
- name: Check if config file exists
  stat:
    path: /home/{{ ansible_user }}/.gitlab-runner/config.toml
  register: config_file
  become: true


- name: Check if GitLab Runner is already registered
  shell: |
    grep -q "{{ item.runner_tags }}" /home/{{ ansible_user }}/.gitlab-runner/config.toml
  loop: "{{ runner_config_settings }}"
  when: config_file.stat.exists
  register: runner_check
  become: true
  changed_when: false
  ignore_errors: true

- name: Debug runner check result
  debug:
    var: runner_check.results[0].rc

- name: Register GitLab Runner
  shell: |
    gitlab-runner register \
      --non-interactive \
      --url {{ item.gitlab_url }} \
      --registration-token {{ item.gitlab_runner_token }} \
      --executor shell \
      --description "{{ item.runner_description }}" \
      --tag-list "{{ item.runner_tags }}"
  loop: "{{ runner_config_settings }}"
  register: runner_output
  #when: runner_check.results[0].rc != 0


- name: Display GitLab Runner registration output
  debug:
    var: "{{ runner_output }}"

- name: Define docker build command
  set_fact:
    docker_build_cmd: >-
      {% if TYPE_PROJECT == "vuejs" %}
      docker build --build-arg NODE_VERSION={{ NODE_VERSION }} -t $CI_REGISTRY_IMAGE .
      {% elif TYPE_PROJECT == "laravel" %}
      docker build --build-arg PHP_VERSION={{ PHP_VERSION }} -t $CI_REGISTRY_IMAGE .
      {% elif TYPE_PROJECT == "nodejs" %}
      docker build
      --build-arg PORT_INSIDE_CONTAINER={{ item.app_port }}
      --build-arg NODE_ENV={{ ENV }}
      --build-arg NODE_VERSION={{ NODE_VERSION }}
      -t $CI_REGISTRY_IMAGE .
      {% elif TYPE_PROJECT == "nestjs" %}
      docker build
      --build-arg DATABASE_URL={{ item.database_url }}
      --build-arg PORT_INSIDE_CONTAINER={{ item.app_port }}
      --build-arg NODE_ENV={{ ENV }}
      --build-arg NODE_VERSION={{ NODE_VERSION }}
      -t $CI_REGISTRY_IMAGE .
      {% endif %}
  loop: "{{ project_directory_name }}"

- name: Define docker tag command
  set_fact:
    docker_tag_cmd: >-
      {% if TYPE_PROJECT == "vuejs" %}
      docker  tag  $CI_REGISTRY_IMAGE  "{{ project_name | lower }}_frontend:latest"
      {% else %}
      docker  tag  $CI_REGISTRY_IMAGE  "{{ project_name | lower }}_api:latest"
      {% endif %}
  loop: "{{ project_directory_name }}"

- name: Copy .gitlab-ci.yml
  template:
    src: .gitlab-ci.yml
    dest: /home/{{ ansible_user }}/{{ project_name }}/{{ clone_directory }}/.gitlab-ci.yml
    mode: '0644'
  loop: "{{ project_directory_name }}"

- name: Create user and email for local git repository
  shell: |
    cd /home/{{ ansible_user }}/{{ project_name }}/{{ clone_directory }}
    git config user.name {{ item.git_username }} && git config user.email {{ item.git_email }}
  loop: "{{ project_directory_name }}"

- name: Commit and push changes to GitLab
  shell: |
    cd /home/{{ ansible_user }}/{{ project_name }}/{{ clone_directory }}
    git add .
    git commit -m "Automated commit from Ansible - {{ ansible_date_time.iso8601 }}"
    git push origin "{{ item.branch_work }}"
  environment:
    GIT_SSH_COMMAND: "ssh -i {{ private_key }}"
  loop: "{{ project_directory_name }}"