version: "3.8"

services:
  adonisjs:
    image: "{{ project_name | lower }}_api"
    container_name: "{{ project_name }}_api"
    restart: always
    ports:
      - "{{ item.ports }}:3333"
    depends_on:
      - "{{ item.db_container }}"
    env_file:
      - .env


  {{ item.db_container }}:
    image: "{{ item.db_image }}"
    container_name: "{{ item.db_container }}_db"
    restart: always
    environment:
      POSTGRES_USER: "{{ item.db_user }}"
      POSTGRES_PASSWORD: "{{ item.db_password }}"
      POSTGRES_DB: "{{ item.db_database }}"
    expose: 
      - "{{ item.db_port }}"
    ports:
       - "{{ item.db_dynamc_port }}:{{ item.db_port }}"
    volumes:
      - "{{ item.db_volume }}:/var/lib/postgresql/data"


volumes:
  "{{ item.db_volume }}":

networks:
  default:
    external: true
    name: "{{ network_name }}"
