version: "3.4"

services:
  "{{ service_name }}"
    image: "{{ clone_directory | lower }}"
    container_name: "{{ clone_directory }}"
    restart: always
    ports:
      - "{{ item.ports }}:80"


networks:
  default:
    external: true
    name: "{{ network_name }}"
